%button {
    background-color: var(--color-main);
    color: var(--white);
    padding: 15px 36px;
    font-size: 14px;
    font-weight: 700;

    @media screen and (min-width: 1024px) {
        font-size: 18px;
    }
}
