%h1 {
    font-size: var(--font-h3Plus);

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h1);
    }
}

%h2 {
    font-size: var(--font-h3);
    margin-bottom: 16px;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h2);
    }
}

%p1 {
    font-size: var(--font-p1);
    font-weight: 500;
    color: var(--grey-600);
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-p3);
        margin-bottom: 50px;
    }
}

%subtitle {
    color: var(--color-orange);
    font-size: var(--font-h6Plus);
    font-weight: 700;
    margin-bottom: 8px;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h5);
        margin-bottom: 14px;
    }
}
