@forward '../scss/abstracts';

.page__header {
    text-align: center;
    padding: 50px 0 30px;
    max-width: 724px;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
        padding: 100px 0 50px;
        margin-bottom: 42px;
    }
}

.page__title {
    @extend %h1;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 30px;
    }
}

.page__para {
    @extend %p1;
}

.page__image {
    margin-bottom: 100px;
    @media screen and (min-width: 1024px) {
        position: relative;
    }
}

.page__image-item {
    width: 100%;
    height: auto;
}

.page__search {
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        width: 50%;
        margin: 0 auto;
        padding: 15px;
    }
}

.page__search-button {
    padding: 10px 26px;
    color: var(--white);
    background-color: var(--color-main);
    border: 0;
    font-size: var(--font-h6Plus);
    font-weight: 700;
    margin-left: auto;

    @media screen and (min-width: 1024px) {
        padding: 16px 47px;
        font-size: var(--h5);
    }
}

.page__search-input {
    border: 0;
    font-size: var(--font-p1);
    color: var(--grey-600);
    width: 100%;
    padding: 10px 6px;

    @media screen and (min-width: 1024px) {
        padding: 16px 6px;
    }

    &::placeholder {
        color: inherit;
    }
}

.page__search-icon {
    margin-left: 6px;
    margin-right: 12px;
}

.benefit {
    p {
        color: var(--grey-600);
        font-weight: 500;
        line-height: 180%;
    }
}

.benefit__header {
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        > * {
            width: 49%;
            max-width: 427px;

            &:first-child {
                margin-right: 2%;
            }
        }
    }
}

.benefit__subtitle {
    @extend %subtitle;
    display: block;
}

.benefit__title {
    font-size: var(--font-h3);
    margin-bottom: 16px;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h2);
    }
}

.benefit__list {
    list-style: none;
    display: grid;
    gap: 20px 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 100px;

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0 20px;
        margin-bottom: 180px;
    }
}

.benefit__list-item {
    background-color: var(--white);
    padding: 16px;
}

.benefit__list-icon {
    margin-bottom: 14px;
}

.benefit__list-header {
    margin-bottom: 6px;
}

.product__header {
    text-align: center;
    max-width: 656px;
    margin: 0 auto 30px;

    @media screen and (min-width: 1024px) {
        margin: 0 auto 50px;
    }
}

.product__title {
    font-size: var(--font-h3);
    margin-bottom: 18px;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h2);
        margin-bottom: 30px;
    }
}

.product__subtitle {
    @extend %subtitle;
    display: block;
}

.product__para {
    @extend %p1;
    color: var(--grey-600);

    @media screen and (max-width: 1023px) {
        text-align: left;
    }
}

.product__list {
    margin-bottom: 103px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}

.product__list-image {
    margin-bottom: 14px;
    width: 100%;
    height: auto;

    @media screen and (min-width: 1024px) {
        margin-bottom: 26px;
    }
}

.product__list-category {
    color: var(--grey-600);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 12px;
    margin-bottom: 6px;
    display: block;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h5);
        margin-bottom: 14px;
    }
}

.product__list-title {
    font-size: 16px;
    margin-bottom: 4px;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h3Plus);
        margin-bottom: 6px;
    }
}

.product__list-para {
    @extend %p1;
    margin-bottom: 12px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 18px;
    }
}

.product__list-price {
    font-weight: 700;
    font-size: 16px;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h3);
    }
}
