@use '../scss/abstracts';

.page__image {
    margin-bottom: 100px;
    @media screen and (min-width: 1024px) {
        position: relative;
    }
}

.page__image-item {
    width: 100%;
}

.page__search {
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        width: 50%;
        margin: 0 auto;
        padding: 15px;
    }
}

.page__search-button {
    padding: 10px 26px;
    color: var(--white);
    background-color: var(--color-main);
    border: 0;
    font-size: var(--font-h6Plus);
    font-weight: 700;
    margin-left: auto;

    @media screen and (min-width: 1024px) {
        padding: 16px 47px;
        font-size: var(--h5);
    }
}

.page__search-input {
    border: 0;
    font-size: var(--font-p1);
    color: var(--grey-600);
    width: 100%;
    padding: 10px 6px;

    @media screen and (min-width: 1024px) {
        padding: 16px 6px;
    }

    &::placeholder {
        color: inherit;
    }
}

.page__search-icon {
    margin-left: 6px;
    margin-right: 12px;
}

.benefit {
    p {
        color: var(--grey-600);
        font-weight: 500;
        line-height: 180%;
    }
}

.benefit__header {
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        > * {
            width: 49%;
            max-width: 427px;

            &:first-child {
                margin-right: 2%;
            }
        }
    }
}

.benefit__subtitle {
    @extend %subtitle;
    display: block;
}

.benefit__title {
    @extend %h2;
}

.benefit__list {
    list-style: none;
    display: grid;
    gap: 20px 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 100px;

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0 20px;
        margin-bottom: 180px;
    }
}

.benefit__list-item {
    background-color: var(--white);
    padding: 16px;
}

.benefit__list-icon {
    margin-bottom: 14px;
}

.benefit__list-header {
    margin-bottom: 6px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    margin-bottom: 100px;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 0 50px;
        margin-bottom: 180px;

        > * {
            width: 50%;
        }
    }
}

.about__subtitle {
    @extend %subtitle;
    display: block;
}

.about__title {
    @extend %h2;
}

.about__para {
    @extend %p1;
}

.about__button {
    @extend %button;
    display: block;

    @media screen and (min-width: 1024px) {
        display: inline-block;
        margin-bottom: 50px;
    }
}

.about__image,
.about__info-image {
    display: none;
    width: 100%;

    @media screen and (min-width: 1024px) {
        display: block;
    }
}

.about__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    @media screen and (min-width: 1024px) {
        grid-template-areas:
            'header header header'
            'body body body';
        gap: 57px 0;
    }
}

.about__info-detail {
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
    }

    em {
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        margin-bottom: 4px;
        display: block;

        @media screen and (min-width: 1024px) {
            font-size: var(--font-h2);
            margin-bottom: 10px;
        }
    }

    p {
        color: var(--grey-600);

        @media screen and (min-width: 1024px) {
            font-size: var(--p3);
        }
    }
}

.about__info-image {
    @media screen and (min-width: 1024px) {
        grid-area: body;
    }
}

.testimonial {
    margin-bottom: 100px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 217px;
    }
}

.testimonial__header {
    text-align: center;
    max-width: 656px;

    @media screen and (min-width: 1024px) {
        margin: 0 auto;
    }
}

// TESTIMONIALS
.testimonial__subtitle {
    @extend %subtitle;
}

.testimonial__title {
    @extend %h2;
}

.testimonial__para {
    @extend %p1;
    text-align: left;

    @media screen and (min-width: 1024px) {
        text-align: center;
    }
}

.testimonial__list {
    list-style: none;
}

.testimonial__list-item {
    background-color: var(--white);
    padding: 18px 16px;
    display: grid;
    grid-template-areas:
        'head head'
        'body body'
        'footerLeft footerRight';
}

.testimonial__list-image {
    margin-bottom: 18px;
    display: block;
    grid-area: head;
}

.testimonial__quote {
    @extend %p1;
    grid-area: body;
}

.testimonial__person {
    display: flex;
    align-items: center;
}

.testimonial__person-photo {
    width: 28px;
    height: 28px;
    margin-right: 14px;

    @media screen and (min-width: 1024px) {
        width: 50px;
        height: 50px;
    }
}

.testimonial__person-name {
    font-size: var(--font-h6Plus);
    font-weight: 700;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h4);
    }
}

.testimonial__rating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.testimonial__person {
    grid-area: footerLeft;
}

.testimonial__rating {
    grid-area: footerRight;

    @media screen and (min-width: 1024px) {
        font-size: var(--font-h5);
    }
}

.testimonial__rating-icon {
    margin-right: 10px;
}

.testimonial__rating-number {
    font-weight: 700;
}
